.card {
	width: 26rem;
	margin: 0 auto;
	padding: 1.5rem;

	border: 0.0625rem solid var(--color-white-dark-1);
	border-radius: 0.75rem;
	box-shadow: 0 4px 0.5rem rgba(0, 0, 0, 0.05);

	background-color: var(--color-white);

	display: flex;
	flex-direction: column;
	gap: 1rem; /* Отступы между блоками title childeren footer */
}

.title {
	text-align: center;
	margin: 0;
	color: var(--color-secondary-dark-3);
}

.content {
	display: flex;
	flex-direction: column;
	gap: 0.75rem; /* Отступ между инпутами */
}

.footer {
	margin-top: 0.5rem;

	display: flex;
	justify-content: center;

	font-size: 0.875rem;
	color: var(--color-secondary);
}

.footer a {
	text-decoration: none;
	color: var(--color-primary);
}

.footer a:hover {
	text-decoration: underline;
}
