.container {
	width: 20rem;
	height: 100%;
	background-color: var(--color-white);
	border-radius: 0.75rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* Новый класс для скролла списка */
.usersList {
	flex: 1;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}
