.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, var(--color-secondary) 0%, var(--color-primary) 100%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem; /* Расстояние между логотипом и формой */
}
