/* src/components/ServerCard/ServerCard.module.css */
.container {
	width: 20.65rem;
	height: 12rem; /* Фиксированная высота */

	display: flex;
	flex-direction: column;

	background-color: var(--color-white);

	padding: 1rem;
	gap: 1rem;

	border-radius: 0.75rem;

	border: 2px solid var(--color-white);
	box-shadow: 0px 0px 0.1rem 0.05rem var(--color-white-dark-2);

	transition: 0.2s ease-out;
}

.container:hover {
	border: 2px solid var(--color-primary);
}

.imgName {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	flex-shrink: 0; /* Шапка не должна сжиматься */
	/* Важно: ограничиваем ширину, чтобы ellipsis работал */
	max-width: 100%;
}

/* Новый класс для названия */
.serverName {
	/* 1. Оставляем всегда в одну строку */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	/* 2. Flex-магия: занимаем всё место, но разрешаем сжиматься */
	flex: 1;
	min-width: 0;

	/* 3. Сброс стандартных отступов h2 */
	margin: 0;
	font-size: 1.2rem;
	color: var(--color-black);
}

/* Стили для описания */
.description {
	width: 100%;
	/* Занимаем все свободное пространство между заголовком и кнопкой */
	flex-grow: 1;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	word-break: break-word;
	color: var(--color-black);
	font-size: 0.9rem;
	margin: 0;
}

.noDescription {
	composes: description;
	color: var(--color-secondary);
	font-style: italic;
	/* Можно добавить flex-центрирование, если текст кажется прижатым */
	display: flex;
	align-items: center;
}
