.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: var(--color-secondary);
  user-select: none;
  cursor: pointer;
}

.checkbox input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  accent-color: var(--color-primary); /* современный способ задать цвет галочки */
  cursor: pointer;
}

.label {
  color: var(--color-secondary);
}
