.page {
	height: 100vh;
	background: linear-gradient(
		180deg,
		var(--color-secondary) 0%,
		var(--color-primary) 100%
	);

	overflow: hidden; /* Важно, чтобы скроллы были внутри блоков, а не у страницы */
}

.container {
	width: 100%;
	height: 100%;

	padding: 0.5rem;

	display: flex; /* Выстраиваем модули в ряд */
	flex-direction: row; /* Горизонтально */
	gap: 0.5rem; /* Отступы между панелями */
}
