.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease-in-out;
}

/* Основные варианты */
.primary {
  background-color: var(--color-primary);
  color: #fff;
}

.primary:hover {
  background-color: var(--color-primary-dark); /* тёмный оттенок при hover */
}

.secondary {
  color: var(--color-secondary);
  background: none;
}

.secondary:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: var(--color-primary-dark);
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
