.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease-in-out;
}

/* Основные варианты */
.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.primary:hover {
  background-color: var(--color-primary-dark-1); /* тёмный оттенок при hover */
}

.secondary {
  color: var(--color-secondary);
  background: none;
}

.secondary:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: var(--color-primary-dark-1);
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
