.container {
	flex: 1; /* Заставляет элемент занять всё свободное место */

	height: 100%;

	background-color: var(--color-white);
	border-radius: 0.75rem;

	display: flex;
	flex-direction: column;

	padding: 1rem;
	gap: 1rem;
	/* Чтобы длинный контент скроллился внутри, а не растягивал страницу */
	overflow-y: auto;
}

.serversContainer {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;

	gap: 1rem;
}
