.logo {
  display: flex;
  align-items: center; /* вертикальное выравнивание */
  gap: 0.75rem; /* расстояние между иконкой и текстом */
}

.logoText {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 3rem;
  color: var(--color-primary); /* теперь основной цвет */
}

