.dialogBackground {
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;

	inset: 0; /* заменяет top, left, right, bottom: 0 */
	z-index: 1000;

	background-color: rgba(0, 0, 0, 0.6);
}

.dialog {
	display: flex;
	flex-direction: column;

	background-color: var(--color-white);
	border-radius: 1.5rem;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

	overflow: hidden; /* Чтобы скругления работали с шапкой */
}

.dialogHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0.7rem 1rem;
}

.dialogHeader h2 {
	font-size: 1.5rem;
}

.dialogContent {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 0.7rem 1rem;
}

.svg {
	width: 12rem;
	height: 12rem;
}

.dialogText {
	font-size: 1.5rem;
	text-align: center;

	margin: 0;
}
