.circleButton {
    /* Фиксированный размер для идеального круга */
    width: 3rem;
    height: 3rem;
    
    background-color: var(--color-secondary-light-3);

    /* Убираем внутренюю границу */
    border: none;
    border-radius: 50%;

    /* Добавляем внешнюю границу */
    outline-style: solid;
    outline-width: 0;
    outline-color: var(--color-primary);

    cursor: pointer;
    
    /* Центрирование контента (иконок) */
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* Плавная анимация скругления и цвета */
    transition: outline-width 0.1s ease-out;
}

/* Эффект при наведении */
.circleButton:hover {
    outline-width: 0.2rem;
}