.serverImg {
	width: 100%;
	height: 100%;

	object-fit: cover;
}

.placeholder {
	width: 65%;
	height: 65%;
	object-fit: cover; /* Чтобы картинка заполняла круг */
	border-radius: inherit; /* Картинка скругляется вместе с кнопкой */
}
