/* Обертка для выравнивания с текстом */
.wrapper {
	width: 2.8rem;
}

/* Контейнер самого переключателя */
.switch {
	position: relative;
	display: inline-block;

	width: 100%;
	height: 1.6rem;
	flex-shrink: 0; /* Чтобы не сжимался */
}

/* Скрываем стандартный чекбокс */
.input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* Визуальная часть (фон) */
.slider {
	position: absolute;

	cursor: pointer;
	inset: 0;

	border-radius: 2rem;

	/* Цвет выключенного состояния */
	background-color: var(--color-secondary-light-2);
	transition: 0.4s ease-out;
	transition: outline 0.1s;
}

/* Кружочек */
.slider:before {
	position: absolute;
	content: "";

	height: 1.2rem;
	width: 1.2rem;

	top: 0.2rem;
	left: 0.2rem;
	bottom: 0.2rem;

	background-color: var(--color-white);

	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

	transition: 0.3s ease-in;
}

/* Состояние: Включено */
.input:checked + .slider {
	background-color: var(--color-primary);
}

/* Анимация движения кружочка */
.input:checked + .slider:before {
	transform: translateX(1.2rem);
}

/* Текст лейбла */
.label {
	font-size: 0.85rem;
	font-weight: 500;

	color: var(--color-secondary);
}
