.container {
	flex: 1; /* Заставляет элемент занять всё свободное место */

	height: 100%;

	background-color: var(--color-white);
	border-radius: 0.75rem;

	padding: 1rem;

	display: flex;
	flex-direction: column;

	/* Чтобы длинный контент скроллился внутри, а не растягивал страницу */
	overflow-y: auto;
}
