.form {
  width: 24rem;
  margin: 0 auto;
  padding: 1.5rem;
  border: 0.0625rem solid var(--color-white-dark-1);
  border-radius: 0.75rem;
  box-shadow: 0 4px 0.5rem rgba(0,0,0,0.05);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.form h2 {
  text-align: center;
  margin-bottom: 0.5rem;
  color: var(--color-secondary-dark-3);
}

a{
  color: var(--color-primary);
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover{
  text-decoration: underline;
}

.underPassword {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  font-size: 0.875rem;
  padding-bottom: 0.75rem;
  margin-top: -0.875rem;
}

.underPassword .forgot {
  text-decoration: none;
  color: var(--color-secondary);
  transition: color 0.2s;
}

.register{
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-size: 0.875rem;
}

