/* Темный фон заднего плана на все окно */
.dialogBackground{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.dialog{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30vw;
}

/* Шапка */
.dialogHeader{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
    background-color: white;
    border-radius: 24px 24px 0px 0px;    
    padding: 12px;
}

/* Шапка */
.dialogHeader h2{
    font-size: 28px;
}

/* Основное содержимое */
.dialogContent{
    background-color: white;
    
    width: 100%;
    border-radius: 0px 0px 24px 24px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorSvg{
    width: 33%;
}

.dialogContent p{
    font-size: 24px;
}