.cancelButton {
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;
    flex-shrink: 0;
    /* Гарантирует, что кнопку не сплющит, если места мало */

    cursor: pointer;

    background-color: #dedede;
    transition: background-color 0.25s ease-out;
}

.cancelButton:hover {
    background-color: #adadad;
}

.cancelButton:active {
    transform: scale(0.95);
}

.closeSvg {
    width: 45%;
    height: 45%;
    object-fit: contain;
}