.container {
	display: flex;
	flex-direction: column;

	gap: 0.375rem;
	width: 100%;

	padding-bottom: 1.25rem;
	position: relative;
}

.label {
	font-size: 0.85rem;
	font-weight: 500;
	color: var(--color-secondary);
}

/* Новая обертка для инпута и кнопки */
.inputWrapper {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
}

.input {
	padding: 0.625rem 0.75rem;
	width: 100%; /* Занимает всю ширину обертки */

	border: 1px solid var(--color-white-dark-2);
	border-radius: 0.375rem;

	font-size: 1rem;
	outline: none;
	cursor: text;

	background-color: var(--color-white);

	transition:
		border-color 0.2s,
		box-shadow 0.6s;
}

/* Специальный класс, если инпут содержит иконку (чтобы текст не прятался за глазик) */
.inputWithIcon {
	padding-right: 2.5rem;
}

.input:focus {
	border-color: var(--color-primary);
	box-shadow: 0 0 0 1px var(--color-primary);
}

.input::placeholder {
	color: var(--color-secondary-light-2);
}

.input:disabled {
	cursor: not-allowed;
	opacity: 0.7;
}

/* Стили для кнопки-глазика */
.toggleButton {
	height: 2rem;
	width: 2rem;

	position: absolute;
	right: 0.5rem; /* Отступ от правого края инпута */

	display: flex;
	align-items: center;
	justify-content: center;

	background: transparent;
	border: none;
	padding: 0;

	cursor: pointer;
	border-radius: 50%;
	transition: background-color 0.2s;
}

.toggleButton img {
	width: 1.5rem;
	height: 1.5rem;
}

.toggleButton:hover {
	background-color: var(--color-white-dark-1);
}

.errorText {
	color: var(--color-red);
	font-size: 0.8rem;
	line-height: 1.2;

	margin-top: -0.2rem;

	position: absolute;
	bottom: 0;
	left: 0;

	animation: fadeIn 0.6s ease-in;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-5px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
