.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 14px;
}

.label {
  font-size: 14px;
  color: #333;
}

.input {
  padding: 10px 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s;
}

.input:focus {
  border-color: var(--color-primary); 
  box-shadow: 0 0 0 1px var(--color-primary);;
}
