.container {
	display: flex;
	flex-direction: column;

	gap: 0.375rem;
	width: 100%; /* Поле ввода обычно должно занимать всю ширину контейнера */

	padding-bottom: 1.25rem;
	position: relative;
}

.label {
	font-size: 0.85rem;
	font-weight: 500;

	color: var(--color-secondary);
	cursor: pointer; /* Так как мы связали его с input через id */
}

.input {
	padding: 0.625rem 0.75rem;

	border: 0.0625rem solid var(--color-white-dark-2);
	border-radius: 0.375rem;

	font-size: 1rem;
	outline: none;

	cursor: text;

	background-color: var(--color-white);

	transition:
		border-color 0.2s,
		box-shadow 0.6s;
}

.input:focus {
	border-color: var(--color-primary);
	box-shadow: 0 0 0 0.0625rem var(--color-primary); /* box-shadow лучше делать через rgba переменной, чтобы было мягче */
}

/* Плейсхолдер */
.input::placeholder {
	color: var(--color-secondary-light-2);
}

/* Состояние Disabled */
.input:disabled {
	cursor: not-allowed;
	opacity: 0.7;
}

.errorText {
	color: var(--color-red);
	font-size: 0.8rem;
	line-height: 1.2;

	margin-top: -0.2rem;

	position: absolute;
	bottom: 0;
	left: 0;

	animation: fadeIn 0.6s ease-in;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-5px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
