.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  margin-bottom: 0.875rem;
}

.label {
  font-size: 0.875rem;
  color: #333;
}

.input {
  padding: 0.625rem 0.75rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.375rem;
  outline: none;
  transition: border-color 0.2s;
}

.input:focus {
  border-color: var(--color-primary); 
  box-shadow: 0 0 0 1px var(--color-primary);;
}
