.addServerButton{
    padding: 0.9rem;
}

.addServerButton img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Чтобы картинка заполняла круг */
    border-radius: inherit; /* Картинка скругляется вместе с кнопкой */
}