version: "3.9"

services:

  postgres:
    container_name: postgres
    image: postgres
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres-data:/var/lib/postgresql
    ports:
      - "5432:5432"

volumes:
  postgres-data: